[Desktop Entry]
Type=Application
Name=Whakarere
Exec=whakarere
Icon=com.mudeprolinux.whakarere.png
Categories=GNOME;GTK;Chat;
Keywords=whatsapp;chat;
